img {
    float: right;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.nav {
    background-color: #ffffff;
    color: #000000;
    list-style: none;
    text-align: center;
    padding: 20px 0 0 0;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav >li > a {
    text-decoration: none;
    color: #000000;
}

.nav > li > a:hover {
    color: #c1c1c1;
}

.logo {
    color: #000000;
    float: left;
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: fit-content;
}

.banner > .banner-image {
    width: 100%;
    height: fit-content;
}

table {
    font-family: arial, sans-serif;
    border: #000000;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  

  body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "times new roman", sans-serif;
    color: #000000;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000000;
  }
  
  .caption span.border {
    background-color: #000000;
    color: #ffffff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #000000;
  }
  
  
  
  
  .col-container {
    display: table;
    width: 100%;
  }
  .col {
    display: table-cell;
    padding: 16px;
    width: 33%;
  }
  
